MONGODB_URI=mongodb+srv://balajiposidon_db_user:yY3npEQgBsxAEkwn@hillandvalley.ywxpb2w.mongodb.net/
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000
ADMIN_PASSWORD=Admin@12345

# Postmark Email Service (Email OTP)
POSTMARK_API_KEY=your_postmark_api_key_here
EMAIL_FROM=your_verified_sender_email_here
