MONGODB_URI=mongodb+srv://balajiposidon_db_user:yY3npEQgBsxAEkwn@hillandvalley.ywxpb2w.mongodb.net/
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000
ADMIN_PASSWORD=Admin@12345

# SMTP Email Service (Email OTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here
EMAIL_FROM=your_email@gmail.com
